body {
    background-color: mediumpurple;
}

h1 {
    text-align: center;
}

#easterBtn {
    content: 'o';
    opacity: 0%;
    user-select: none;
}

h1:first-child {
    margin-bottom: 0px;
}

h1:nth-child(even) {
    margin-top: 0px;
}

#easterBtn {
    background-color: mediumpurple;
    color: mediumpurple;
    cursor: default;
    user-select: none;
}



@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');
html {
    scroll-behavior: smooth;
    cursor: default;
    user-select: none;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: #f6f6f6;
    background: linear-gradient(270.11deg, #CA9CC3 -1.82%, #B47FAC 99.9%);
    width: 100%;

    animation: bg 10s linear infinite;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1550px;
    height:800px ;

    background-image :url('assets/fond_site.png');

    position: relative;

}

section h1 {
    text-align: left;

    color: #f6f6f6;
    font-size: 2em;
}

.fond_site{
    width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    min-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding-top: 2%;
    position: relative;

}



a {
    font-style: normal;
    text-decoration: none;
}

header a {
    padding: auto;
    margin: auto;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.2em;
    color: #f6f6f6;
    transition-duration: 250ms;
}

header a:hover {
    color: #f8bcef;
}

.texteh1_home{

    position: absolute;
    width: 1682px;
    height: 244px;
    left: 51px;
    top: 343px;
    font-size: 40px;
    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.texteh2-home{
    position: absolute;
width: 1200px;
height: 294px;
left: 55px;
top: 475px;
color: #FFFFFF;
font-size: 20px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.texte_entier{
    position: absolute;
width: 1682px;
height: 426px;
left: 51px;
top: -70px;
}

.vague1{
    position: absolute;
    opacity: 100%;
    z-index: 0;
    width: 100%;
    height: 800px;


/* Note: backdrop-filter has minimal browser support */


}

/* questions */

.bouton{
    flex: 1;
position: relative; 
left: 30%;
top: 15%;
width: 40%;
height: 15%;
color: #FFFFFF;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 49px;
background: linear-gradient(180deg, #F0B9E8 0%, #987592 100%);
box-shadow: 2.00434e-15px 10px 20px rgba(40, 31, 39, 0.3975), inset -8.24006e-16px -13.457px 13.457px #8B6B86, inset 8.24006e-16px 13.457px 13.457px #FDC3F4;
border-radius: 30px;
border-style: none ;
}
legend {
    flex: 1;
    top: 5%;
    left:10%;
    position: relative;
width: 90%;
;
height: 10%;


font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
/* identical to box height */


color: #FEFEFE;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.reponse{
    flex: 1;
    bottom: -15%;
    left: 10%;
    width: 90%;
    height: 15%;
position: relative;
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 49px;

/* identical to box height */


color: #FEFEFE;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.center{
    position: absolute;
width: 100%;
height: 100%;
background: linear-gradient(180deg, #F6C5ED 0%, #A4839E 100%);
box-shadow: inset -3.41268e-15px -55.7333px 55.7333px #987A93, inset 3.41268e-15px 55.7333px 55.7333px #FFCFF8;
border-radius: 50px;
}

fieldset{
    border-style: NONE;
}

input {
    
    width: 20px;
    height: 20px;
    background: linear-gradient(180deg, #6F4268 0%, #9D5D93 100%);
    box-shadow: inset -1.64157e-16px -2.68089px 2.68089px #683E62, inset 1.64157e-16px 2.68089px 2.68089px #A36199;
    border-radius: 20px;
  }