<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Niveau {{ level_id }}</title>
	<link rel="stylesheet" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"/>
	<link rel="stylesheet" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"/>
	<script src="{{url_for('static', filename='script/level.js')}}"></script>
</head>
<body>
	<header>
		<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Accueil</a>
		{% for i, name in ((0, "easy"), (1, "medium"), (2, "hardcore"), (3, "very hardcore")) %}
		<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Quiz : {{name}} </a>
		{% endfor %}
	</header>
	<div id="levelContainer">
		<img id="map" src="{{url_for('static', filename='assets/map.png')}}" alt="">
		<img id="thor" src="{{url_for('static', filename='assets/thor.png')}}" alt="">
		<img id="captain" src="{{url_for('static', filename='assets/captain.png')}}" alt="">
		<img id="hulk" src="{{url_for('static', filename='assets/hulk.png')}}" alt="">
		<img id="ironman" src="{{url_for('static', filename='assets/ironman.png')}}" alt="">
		<img id="spiderman" src="{{url_for('static', filename='assets/spiderman.png')}}" alt="">
	</div>
</body>
</html>