<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Réponse {{ question_id }} du niveau {{ level_id }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>

	<header>
		<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Accueil</a>
		{% for i, name in ((0, "easy"), (1, "medium"), (2, "hardcore"), (3, "very hardcore")) %}
		<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Quiz : {{name}} </a>
		{% endfor %}
	</header>
	
	{% for sentence in reponse.split('\n') %}
	{{ sentence }}<br/>
	{% endfor %}
</body>
</html>